# Backend
fastapi
uvicorn[standard]
pydantic
python-dotenv

# HTTP Requests and web scrapping
requests
httpx
beautifulsoup4
lxml
pypdf
unstructured


# LLM & RAG
ollama
langchain
langgraph
langchain-community
langchain-core
langchain-ollama
langchain-qdrant
qdrant-client
sentence-transformers

# MCP
mcp

# Data Processing
pandas
numpy

# Evaluation
ragas

# Testing
pytest
pytest-asyncio

# Logging
loguru